@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prismjs/themes/prism.css";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-display;
  }
  h2,
  h3,
  h4,
  h5 {
    @apply mt-10;
  }
  body {
    @apply font-body;
    @apply text-2xl;
    @apply leading-8;
    color: hsla(0, 0%, 0%, 0.73);
  }
  a {
    color: #ff5700;
  }
  p {
    @apply my-6;
  }
  blockquote {
    @apply my-6;
    @apply pl-5;
    @apply text-2xl;
    @apply italic;
    @apply border-l-4;
    border-color: #ff5700;
    border-style: solid;
    color: hsla(0, 0%, 0%, 0.59);
  }
  small {
    @apply font-extralight;
    @apply my-2;
  }
}

.content {
  @apply my-5;
  @apply pb-5;
}

.content p {
  @apply max-w-3xl;
}

.is-wide {
  @apply -mx-5;
  @apply pr-0;
  @apply pl-5;
  @apply w-screen;
  max-width: 51rem;
}

/* Border image derived from an image found at
   https://jrsinclair.com/ */
.painted-border {
  background: transparent;
  border-image-slice: 6.8965517241% 7.8636959371% 7.0993914807% 0 fill;
  @apply border-t-30;
  @apply border-r-30;
  @apply border-b-30;
  @apply border-l-0;
  border-style: solid;
  overflow: hidden;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-lg;
}

pre[class*="language-"] {
  @apply -mx-5;
  @apply pr-0;
  @apply pl-5;
  max-width: 51rem;
  /*
  @apply is-wide;
  overflow: scroll;
*/
}

pre[class*="language-"] span {
  @apply text-base;
}

.sm-text pre[class*="language-"] span {
  @apply text-sm;
}

h1 a {
  color: hsla(0, 0%, 0%, 0.73);
}

.call-out-indigo {
  @apply is-wide;
  @apply painted-border;
  @apply pt-2;
  @apply pr-0;
  @apply pb-4;
  border-image-source: url(./bg-paper-indigo.svg);
}

.call-out-indigo :not(pre) > code[class*="language-"],
.call-out-indigo pre[class*="language-"] {
  background: none;
  border: none;
  width: calc(100% + 20px);
  @apply max-w-none;
}

.call-out-indigo code[class*="language-"] {
  @apply pr-0;
}
